---
import type { Props } from '@astrojs/starlight/props'
import Default from '@astrojs/starlight/components/PageTitle.astro'
---

<Default {...Astro.props}><slot /></Default>
<span class="sub-header">
  <h3 class="subtitle">{Astro.props.entry.data.subtitle}</h3>
</span>

<style>
  .sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0;
  }

  .subtitle {
    margin: 0;
    align-self: start;
  }
</style>
